.container_pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.pop_up {
  background-color: orangered;
  padding: 60px 20px 60px 20px;
  width: 90%;
  border-radius: 8px;
  z-index: 1000;
  color: white;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 30px;
}

.image {
  background-color: white;
  border-radius: 50%;
  object-fit: fill;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.container {
  position: relative;
  z-index: 0;
  padding: 10px 10px 80px 10px;
}

.whats_app {
  width: 80px;
  bottom: 20px;
  right: 0;
  position: fixed;
  opacity: 0.6;
  z-index: 998;
  cursor: pointer;
}

.content_name_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #b62415;
  padding: 8px;
  gap: 8px;
}
.name {
  color: white;
}

.subtitle {
  color: white;
}

.menu {
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 35px;
  padding: 8px;
  color: orange;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/logo.png");
  opacity: 0.4;
  z-index: -1;
}

.content_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title_type {
  color: orangered;
  font-size: 35px;
}

.title_menu {
  color: orange;
}

.description_menu {
  color: white;
}

.container_name_price {
  display: flex;
  justify-content: space-between;
}
